table {
    border: 2px solid color( extra, base ); 
}

td,
th {
    border: 1px solid color( extra, base );
    padding: 0.5rem;
    vertical-align: top;
}

th {
    text-transform: uppercase;
    background-color: color( extra, gray-1 );
    border-bottom: 2px solid color( extra, base );
}
