/// ELEMENTS / MEDIA


img {
	font-style: italic; // for alt
	height: auto;
	max-width: 100%;
	vertical-align: middle; // better remove white space bellow image
}

svg {
	max-width: 100%;
	vertical-align: middle;
}
