/// ELEMENTS / PAGE

html {
	color: color( extra, base );
	font-family: $font-family-base;
	font-weight: $font-family-base-normal;
	line-height: $line-height-base;
	overflow-y: scroll;
	min-height: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@if ($use-responsive-fonts) {
		@each $breakpoint-key, $breakpoint-value in $breakpoints {
			@include media-breakpoint-up(#{$breakpoint-key}) {
				font-size: map-get( $font-sizes-responsive, $breakpoint-key );
			}
		}
	}
	@else {
		font-size: $font-size-base;
	}
}


// IE10+ doesn't honor `<meta name="viewport">` in some cases.

@at-root {
	@-ms-viewport {
		width: device-width;
	}
}
