// TOOLS / IMAGE2X

/* stylelint-disable media-feature-name-no-unknown */

// @example
//
// background: url("logo.png") no-repeat;
// @include image-2x("logo2x.png", 100px, 25px);

@mixin image-2x($image, $width, $height) {
	@media ( -moz-min-device-pixel-ratio: 1.3 ), ( -o-min-device-pixel-ratio: 2.6/2 ), ( -webkit-min-device-pixel-ratio: 1.3 ), ( min-device-pixel-ratio: 1.3 ), ( min-resolution: 1.3dppx ) {
		background-image: url( $image );
		background-size: $width $height;
	}
}
