/// TOOLS / IMAGE-REPLACEMENT


// image-replacement technique from Zeldman.com
// mixin for replacing text content with an image, while text is still accessible to screen readers

@mixin image-replacement($imageURL) {
	background: url( $imageURL ) no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
