/// TOOLS / RESPONSIVE-RATIO


// @example
// @include responsive-ratio(16,9);


@mixin responsive-ratio($x,$y) {
	$padding: unquote( ( $y / $x ) * 100 + '%' );

	&::before {
		position: relative;
		width: 100%;
		padding-top: $padding;
	}
}
