/// OBJECTS / GRID


// Wrapper

.o-wrap,
.o-wrap-fluid {
	width: 100%;
	margin-right: auto;
	margin-left: auto;

	@each $breakpoint-key, $breakpoint-value in $breakpoints {
		@include media-breakpoint-up(#{$breakpoint-key}) {
			padding-left: map-get( $grid-gutters, #{$breakpoint-key} ) / 2;
			padding-right: map-get( $grid-gutters, #{$breakpoint-key} ) / 2;
		}
	}
}

@include grid-wrap();


// Row

.o-row {
	display: flex;
	flex-wrap: wrap;

	@each $breakpoint-key, $breakpoint-value in $breakpoints {
		@include media-breakpoint-up(#{$breakpoint-key}) {
			margin-left: (map-get( $grid-gutters, #{$breakpoint-key} ) / 2) * -1;
			margin-right: (map-get( $grid-gutters, #{$breakpoint-key} ) / 2) * -1;
		}
	}
}


// Columns

[ class^='o-col' ],
[ class*=' o-col' ] {
	position: relative;
	width: 100%;

	@each $breakpoint-key, $breakpoint-value in $breakpoints {
		@include media-breakpoint-up(#{$breakpoint-key}) {
			padding-left: map-get( $grid-gutters, #{$breakpoint-key} ) / 2;
			padding-right: map-get( $grid-gutters, #{$breakpoint-key} ) / 2;
		}
	}
}

@include grid-column();


// Column offsets

@include grid-column-offset();


// Stacks

[ class*='o-stack' ] {
	display: flex;
	flex-wrap: wrap;

	@each $breakpoint-key, $breakpoint-value in $breakpoints {
		@include media-breakpoint-up(#{$breakpoint-key}) {
			margin-left: (map-get( $grid-gutters, #{$breakpoint-key} ) / 2) * -1;
			margin-right: (map-get( $grid-gutters, #{$breakpoint-key} ) / 2) * -1;
		}
	}

	> * {
		width: 100%;

		@each $breakpoint-key, $breakpoint-value in $breakpoints {
			@include media-breakpoint-up(#{$breakpoint-key}) {
				padding-left: map-get( $grid-gutters, #{$breakpoint-key} ) / 2;
				padding-right: map-get( $grid-gutters, #{$breakpoint-key} ) / 2;
			}
		}
	}
}

@include grid-stack();


// No gutters

.o-row--no-gutters,
.o-stack--no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.o-row--no-gutters > [ class^='o-col' ],
.o-stack--no-gutters > * {
	padding-right: 0;
	padding-left: 0;
}
