/// OBJECTS / ICON

// 	Source:
//	https://www.smashingmagazine.com/2018/05/svg-interaction-pointer-events-property
//


.o-icon {
	display: inline-block;
	vertical-align: middle;
	height: 1em;
	width: 1em;
	position: relative;
	top: -.0625em;
	pointer-events: none;
}
