/// OBJECTS / LISTS


// Remove bullets from lists

.o-list {
	list-style: none;
	margin-left: 0;
}

.o-list__item {
	margin-left: 0;
}

// Make list in single line

.o-list-inline {
	list-style: none;
	margin-left: 0;
}

.o-list-inline__item {
	display: inline-block;
}
