/// UTILITIES / BACKGROUNDS

/* stylelint-disable declaration-no-important */

// Background color

@each $color-map, $color-map-colors in $colors {
	@each $color-name, $color-value in $color-map-colors {
		$selector-suffix: $color-map;

		@if ($color-name != default) {
			$selector-suffix: $color-map + '-' + $color-name;
		}

		@if ($color-map == extra) {
			$selector-suffix: $color-name;
		}

		.u-bg-#{$selector-suffix} {
			background-color: color( $color-map, $color-name ) !important;
		}
	}
}

// Background position

.u-bg-top {
	background-position: top !important;
}

.u-bg-bottom {
	background-position: bottom !important;
}

.u-bg-center {
	background-position: center !important;
}

.u-bg-left {
	background-position: left !important;
}

.u-bg-left-bottom {
	background-position: left bottom !important;
}

.u-bg-left-top {
	background-position: left top !important;
}

.u-bg-right {
	background-position: right !important;
}

.u-bg-right-bottom {
	background-position: right bottom !important;
}

.u-bg-right-top {
	background-position: right top !important;
}
