/// UTILITIES / DISPLAY

/* stylelint-disable declaration-no-important */

@each $breakpoint-key, $breakpoint-value in $breakpoints {
	@if $breakpoint-key == xs {
		.u-hidden {
			display: none !important;
		}

		.u-inline-block {
			display: inline-block !important;
		}

		.u-block {
			display: block !important;
		}

		.u-flex {
			display: flex !important;
		}

		.u-inline-flex {
			display: inline-flex !important;
		}

		.u-inline {
			display: inline !important;
		}
	} @else {
		@include media-breakpoint-up(#{$breakpoint-key}) {
			.u-hidden\@#{$breakpoint-key} {
				display: none !important;
			}

			.u-inline-block\@#{$breakpoint-key} {
				display: inline-block !important;
			}

			.u-block\@#{$breakpoint-key} {
				display: block !important;
			}

			.u-flex\@#{$breakpoint-key} {
				display: flex !important;
			}

			.u-inline-flex\@#{$breakpoint-key} {
				display: inline-flex !important;
			}

			.u-inline\@#{$breakpoint-key} {
				display: inline !important;
			}
		}
	}
}
