/// UTILITIES / FLEXBOX

/* stylelint-disable declaration-no-important */

// Main axis alignment

.u-justify-start {
	justify-content: flex-start !important;
}

.u-justify-center {
	justify-content: center !important;
}

.u-justify-end {
	justify-content: flex-end !important;
}

.u-justify-between {
	justify-content: space-between !important;
}

.u-justify-around {
	justify-content: space-around !important;
}


// Cros axis alignment

.u-items-stretch {
	align-items: stretch !important;
}

.u-items-start {
	align-items: flex-start !important;
}

.u-items-center {
	align-items: center !important;
}

.u-items-end {
	align-items: flex-end !important;
}

.u-items-baseline {
	align-items: baseline !important;
}


// Content align

.u-content-start {
	align-content: flex-start !important;
}

.u-content-center {
	align-content: center !important;
}

.u-content-end {
	align-content: flex-end !important;
}

.u-content-between {
	align-content: space-between !important;
}

.u-content-around {
	align-content: space-around !important;
}


// Flexbox order

@each $breakpoint-key, $breakpoint-value in $breakpoints {
	@if $breakpoint-key == xs {
		@for $i from 1 through $grid-columns {
			.u-order-#{$i} {
				order: #{$i} !important;
			}
		}
	} @else {
		@include media-breakpoint-up(#{$breakpoint-key}) {
			@for $i from 1 through $grid-columns {
				.u-order-#{$i}\@#{$breakpoint-key} {
					order: #{$i} !important;
				}
			}
		}
	}
}
