/// COMPONENTS / BUTTONS


$button-padding-x: 1rem !default;
$button-padding-y: .5rem !default;
$button-icon-padding-x: 2rem !default;
$button-icon-padding-y: .5rem !default;
$button-transition-speed: .2s !default;


.c-button {
    display: inline-block;
    color: currentColor;
    text-align: center;
    cursor: pointer;
    padding: $button-padding-y $button-padding-x;
    border-radius: 0.2rem;
    text-transform: uppercase;
    font-size: font-size(small);
    font-weight: $font-family-base-bold;
    outline: none;

    .o-icon {
        transition: 0.4s;

        & + span {
            margin-left: 0.5rem;
        }
    }

    span {

        & + .o-icon {
            margin-left: 0.5rem;
        }
    }
}

.c-button--primary {
    background-color: color( primary );
    transition: background-color $button-transition-speed;
    color: color( extra, white );
    
    &:hover,
    &:focus,
    &:active {
        background-color: color( primary, dark );
    }
}

.c-button--with-arrow {

    &:hover {
        
        .o-icon { // left
            transform: translateX(-.25rem);
        }

        span + .o-icon { // right
            transform: translateX(.25rem);
        }
    }
}

.c-button--full {
    display: block;
    width: 100%;
}

.c-button-small {
    font-size: font-size(tiny);
}

.c-button[ disabled ],
.c-button--disabled {
    cursor: auto;
}
