
.c-cta {
    transition: 0.4s;
    display: inline-block;

    .o-icon {
        transition: 0.4s;
    }

    &--with-icon {
        line-height: 1;

        .o-icon + span {
            margin-left: $spacer-quarter;
        }
    }

    &--rotate-icon {
        
        &:hover {

            .o-icon {
                transform: rotate(180deg);
            }
        }
    }

    &--strong {
        font-weight: $font-family-base-bold;
    }

    &--primary {
        color: color(primary);

        &:hover {
            color: color(secondary);
        }
    }

    &--secondary {
        color: color(secondary);

        &:hover {
            color: color(primary);
        }
    }

    &--white {
        color: color(extra, white);

        &:hover {
            color: color(extra, links);
        }
    }
}

.c-cta-back {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: spacing('half');
    background-color: color( extra, gray-0 );
    color: color(extra, gray-3);
    transition: 0.4s;
    line-height: 1;

    .o-icon {
        // font-size: 2.2rem;
        top: 0;
        width: 2em;
        height: 2em;
        transition: 0.4s;
    }

    &:hover {
        color: color( primary );
        
        .o-icon {
            transform: rotate(90deg);
        }
    }
}