.c-entries {

}

.c-entry {

    &__id,
    &__result,
    &__view {
        text-align: center;
    }

    &__result {

        .is-positive & {
            color: color( secondary, positive );
            font-weight: 700;
        }

        .is-negative & {
            color: color( secondary, negative );
            font-weight: 700;
        }

        .is-undefined & {
            font-weight: 700;
        }
    }

    &__cta {
        text-align: center;

        .o-icon {
            width: 1.2em;
            height: 1.2em;
        }

        a {
            color: color(extra, base);

            &:hover {
                color: color(primary);
            }
        }
    }
}
