.c-footer {
    font-size: font-size(small);
    padding-top: spacing(4);
    padding-bottom: spacing(4);
    color: color(extra, base);
    border-top: 1px solid color( extra, gray-2 );
    position: relative;
    text-align: center;

    img {
        max-width: 10rem;
        margin: 0 auto;
    }

    a {
        color: color(extra, base);

        transition: 0.4s;

        &:hover {
            color: color( extra, links );
        }
    }

    &__hashtags {
        margin-bottom: spacing(1);
        
        span {
            color: color(extra, base);
            font-weight: 600;
            display: inline-block;
            margin-right: spacing(1);
        }
    }

    &__logos {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__logo {
        max-width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        background: color(extra, white);
        margin: 0.5rem;
        transition: transform 400ms ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 100%;
        }
    }
}
