$box-shadow: none;
$box-shadow-hover: none;
$border: 2px solid color(extra, base);

.c-form {

    &__item {
        padding: spacing(1) 0;
        font-size: font-size(sm);
        color: color( extra, gray-9 );
    }

    &--login {
        
        .c-form__item--narrow {
            max-width: 10rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &--entry {
        .c-form__item--narrow {
            max-width: 10rem;
        }
    }

    &__error {
        margin-top: $spacer-half;
        margin-bottom: 0;
        color: color(secondary);
        font-size: font-size(tiny);
    }

    &__notice {
        background-color: color(extra, gray-1);
        padding: spacing(1);
        border-radius: 0.2rem;
        margin: spacing(2) 0;
        
        p {
            margin-bottom: 0;
        }
    }
}

.c-form__label,
label {
    display: block;
    font-size: font-size(small);
    text-transform: uppercase;
    margin-bottom: $spacer-half;
    font-weight: $font-family-base-bold;
    color: color(extra, gray-9);
    
    & + p {
        margin-top: -$spacer-half;
        margin-bottom: $spacer-half;
        color: color( extra, gray-8 );
    }
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    border: $border;
    padding: $spacer-half;
    box-shadow: $box-shadow;
    transition: 0.4s;
    border-radius: 0.4rem;
    font-weight: 700;

    &:focus,
    &:hover {
        box-shadow: $box-shadow-hover;
        border-color: color( primary );
        outline: none;
    }
}

input[type="checkbox"],
input[type="radio"] {
    display: none;

    + label {
        display: inline-block;
        padding: $spacer-half;
        background-color: color( extra, gray-1);
        min-width: 10rem;
        text-align: center;
        cursor: pointer;
        transition: background-color .4s;
        border-radius: 0.2rem;

        &:hover {
            background-color: color( extra, gray-2);
        }
    }
}

.c-form__block {

    &--negative {

        input:checked + label {
            background-color: color( secondary, negative );
            color: color( extra, white );
        }
    }

    &--positive {

        input:checked + label {
            background-color: color( secondary, positive );
            color: color( extra, white );
        }
    }

    &--undefined {

        input:checked + label {
            background-color: color( secondary, undefined );
            color: color( extra, white );
        }
    }

    &--unresolved {

        input:checked + label {
            background-color: color( extra, base );
            color: color( extra, white );
        }
    }
}

input[type="file"] {
    cursor: pointer;
}

input[type="file"]:disabled {
    cursor: default;
}


.c-form-search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: spacing(4);
    
    input {
        border-radius: 10rem;
        max-width: 10rem;
        padding-left: spacing(1);
        padding-right: spacing(1);
    }
}
