.c-front {
    padding: spacing(8) 0;
    background-color: color(extra, white);

    &__title {
        margin-bottom: $spacer-half;
        font-weight: 900;
    }

    &__subtitle {
        margin-bottom: $spacer-half;
        font-size: font-size(h4);
    }

    &__header,
    &__form {
        max-width: 560px;
        margin: 0 auto;
    }

    &__body {
        max-width: 768px;
        margin: 0 auto;
        text-align: left;
        margin-top: spacing(4);
    }
}
