.c-pagination {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.c-pagination__item {
	background-color: color( extra, gray-2 );
	margin: $spacer-quarter;
	line-height: 1;
	word-break: keep-all;
	color: color( extra, base );
	border-radius: 0.2rem;
	text-align: center;
	position: relative;
    padding: $spacer-half;
    transition-duration: 0.4s;

    @media (hover) {
        &:hover {
            background-color: color( extra, gray-3 );
        }
    }
    
    &--current {
        background-color: color( primary );
        color: color( extra, white );

        @media (hover) {
            &:hover {
                background-color: color( primary );
            }
        }
    }

    &--dots {
        background-color: color( extra, white );
    }

    &--prev,
    &--next {
        display: none;
	    justify-content: center;
	    align-items: center
    }
}

@include media-breakpoint-up( md ) {

    .c-pagination__item {
        //padding: 1rem;
        min-width: 2rem;
        
        &--prev,
	    &--next {
		    display: flex
	    }
	}

}

.c-pagination-arrow {
    display: inline-block;
    width: .6rem;
    height: .6rem;
    border-top: 0.125rem solid color( extra, base );
    border-left: 0.125rem solid color( extra, base );
    line-height: 1;

    &:before {
        display: block;
        height: .6rem;
        width: .6rem;
        content: "";
        transform: rotate(45deg)
    }

    &--prev {
        transform: rotate(-45deg);
        margin-right: -0.25rem
    }

    &--next {
        transform: rotate(135deg);
        margin-left: -0.25rem
    }
}