.u-bg {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    &--1 {
        background-image: url('../images/layout/bg_1.jpg');
    }

    &--2 {
        background-image: url('../images/layout/slide_1.jpg');
    }

    &--map {
        background-image: url('../images/layout/bg_map.png');
    }

    &--overlay {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            background-color: color(primary, dark);
            opacity: 0.8;
            z-index: 5;
        }

        & .o-wrap {
            z-index: 10;
            position: relative;
        }
    }
}

.u-bg-gradient {
    background: rgb(238,238,238);
    background: linear-gradient(180deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 75%);
}