.u-pull-lr-half {
    margin-left: -0.5rem; 
    margin-right: -0.5rem
}

.u-pull-t-half {
    margin-top: -0.5rem
}

.u-line-15 {
    line-height: 1.5;
}

.u-text-justify {
    text-align: justify;
}

.u-font-numbers {
    font-family: $font-family-numbers;
}

.u-height-full {
    height: 100%;
}

.is-hidden { 
    display: none 
}

.is-invisible { 
    visibility: hidden 
}