/// SETTINGS / COLORS


$colors: (
    primary: (
        default:     #D2232A,
        dark:        #00386c
    ),
    secondary: (
        positive:     #D2232A,
        negative:     #65A41C,
        undefined:    #D18D24
    ),
    extra: (
        base:          #212529,
        links:         #cf1f25,
        black:         #000000,
        white:         #ffffff,
        gray-0:        #fafafa,
        gray-1:        #f5f5f5,
        gray-2:        #eeeeee,
        gray-3:        #e0e0e0,
        gray-4:        #bdbdbd,
        gray-5:        #9e9e9e,
        gray-6:        #757575,
        gray-7:        #616161,
        gray-8:        #424242,
        gray-9:        #212121,
    )
) !default;


$colors-other: (
    social: (
        facebook:         #3b5998,
        twitter:         #55acee,
        youtube:         #cd201f,
        instagram:         #c13584,
        linkedin:         #0077b5,
        whatsapp:        #25d366,
        viber:            #8f5db7
    )
) !default;


$color-step: 10% !default;
