/// SETTINGS / FONTS


/* stylelint-disable */
$use-custom-fonts: false;

$custom-font-name:  'Geomanist';
$custom-font-url:   '../fonts';

@if ($use-custom-fonts) {
	@include font-face('#{$custom-font-name}', '#{$custom-font-url}/geomanist-regular-webfont', 500, normal);
	@include font-face('#{$custom-font-name}', '#{$custom-font-url}/geomanist-regular-italic-webfont', 500, italic);
	@include font-face('#{$custom-font-name}', '#{$custom-font-url}/geomanist-bold-webfont', 700, normal);
}
