/// SETTINGS / GRID


// Grid columns

$grid-columns: 12 !default;


// Grid gutters
// Match gutters with responsive fonts map so they always equal 2rem

$grid-gutters: (
    xs: 32px,
    sm: 32px,
    md: 32px
) !default;
