/// SETTINGS / TYPOGRAPHY


$font-size-base: 16px !default;
$line-height-base: 1.5 !default;
$font-family-base: 'Nunito Sans', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-family-base-bold: 700;
$font-family-base-black: 900;
$font-family-base-normal: 400;

$font-family-heading: $font-family-base; // or $font-family-base
$line-height-headings: 1.25 !default;

$font-family-heading-bold: 700;

$font-family-numbers: 'Dosis', 'Roboto Condensed', 'Oswald';

$font-sizes-headings: (
    h1:     2.25rem,
    h2:     1.75rem,
    h3:     1.5rem,
    h4:     1.25rem,
    h5:     1.125rem,
    h6:     1rem,
) !default;

$font-sizes-other: (
    tiny:         .75rem,
    small:         .875rem,
    default:     1rem,
    lead:        1.25rem
) !default;

$use-responsive-fonts: true;
$font-sizes-responsive: (
    xs:     16px,
    sm:     16px,
    md:     18px,
) !default;

$font-sizes: map-merge(
    $font-sizes-headings, $font-sizes-other
) !default;
